.form-container{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(122, 120, 120);
    border-radius: 10px;
    max-width: 600px;
    margin-top: 40px;
    padding: 20px;
}
.title{
    font-size: 30px;
    margin-top: 5px;
    font-weight: bold;
    color: rgb(49, 49, 49);
}
.cb-title{
    font-size: 23px;
}
.input-field{
    font-size: 18px;
}
.input-cb{
    display: flexbox;
    width: 50%;
}
.content-title{
    font-size: 20px;
    font-weight: bold;
}
.form-row{
    margin-top: 20px;
}
.form-input{
    height: 30px;
    width: 100%;
    border: 0.5px solid rgb(143, 142, 142);
    border-radius: 5px;
}
.form-label{
    font-weight: bold;
}
.two-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.field{
    margin-right: 50px;
}
.two-col--1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.note--1::after{
    content: "First Name";
    vertical-align:middle;
    font-size: 12px;
}
.note--2::after{
    content: "Last Name";
    vertical-align:middle;
    font-size: 12px;
}
input[type=radio]{
    margin-top: 10px;
}
.form-button{
    margin: 20px;
}
.input-btn{
    width: 200px;
    height: 50px;
    background-color: rgb(24, 61, 30);
    border: 0.5px solid rgb(24, 61, 30);
    border-radius: 5px;
    color: white;
    text-align: center;
}
.input-btn:hover{
    background-color: rgb(19, 51, 25);
}
